.benefits-container {
  margin: 2.563rem 3rem 1.125rem 3rem;
  @media only screen and (min-width: 600px) {
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 2.25rem;
  }

  .heading {
    text-align: center;
    font-size: 1.875rem;
    @media only screen and (min-width: 600px) {
      font-size: 3.625rem;
    }
  }

  .sub {
    text-align: center;
    font-family: Acumin Pro light;
    letter-spacing: 0px;
    color: #0f0f0f;
    font-weight: 100;
    padding-top: 1.125rem;
  }
}

.card-fold {
  margin: 2.75rem 1.5rem 3.063rem 1.5rem;
  display: grid;
  gap: 1.5rem;
  @media only screen and (min-width: 600px) {
    grid-auto-flow: column;
    justify-content: center;
  }
}
